@import 'src/styles/main';
// @import '../../components/Hero/hero-styles/Hero.module.scss';
// @import '../../components/Benefits/Benefits.module.scss';
// @import '../../components/Team/Team.module.scss';
// @import '../../components/Portfolio/porfolio-styles/Portfolio.module.scss';
// @import  '../../components//Navigation/Navigation.module.scss';
